### SQL Personal Project - Linking Python and SQL

In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect('sql-murder-mystery copy.db')

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute('''
    SELECT * 
    FROM crime_scene_report
    WHERE type = 'murder' 
    AND city = 'Mellon City' 
''')

rows = cursor.fetchall()

if rows:
    for row in rows:
        print(row)

(20180215, 'murder', 'REDACTED REDACTED REDACTED', 'Mellon City')
(20180215, 'murder', 'Someone killed her! She dropped dead to the ground.....', 'Mellon City')
(20180215, 'murder', 'Security footage shows that there were 2 witnesses. ', 'Mellon City')
(20180215, 'murder', 'The witnesses....were there any witnesses? No one came to report anything', 'Mellon City')
(20180215, 'murder', 'The crime took place on 15th February 2018 at Mellon City.  It was sudden and unexpected.  ', 'Mellon City')
(20180215, 'murder', 'Nowadays, crimes have been increasing... Mellon City is not a safee place anymore', 'Mellon City')
(20180215, 'murder', 'Look at the Security Footage!!!!', 'Mellon City')
(20180215, 'murder', 'The first witness lives at the last house on xx???Xx?X', 'Mellon City')
(20180215, 'murder', 'Officer wrote down the name of the second witness. It is xxx??Xx?Xxx', 'Mellon City')

In [7]:
# Display the table in Streamlit
#column_names = [description[0] for description in cursor.description]
#if rows:
    #st.table(data=rows, header=column_names)
#else:
    #st.warning('No results found.')

Make Players guess the address of Witness 1 through Secret Code

Take User's Input for address

In [5]:
user_W1address = input("Enter the secret code that you have found above: ")
user_W1address = user_W1address.strip()

Table shown to players to guess Witness 1:
- so they are being shown all the people living in Northwestern Dr, they have to look at the address number and choose the witness with the largest address number (i.e. the one living the furthest)

In [6]:
cursor.execute('''
    SELECT * 
    FROM person
    WHERE LOWER(address_street_name) = ?
    ORDER BY name DESC
''', (user_W1address.lower(),))  # Using a placeholder and passing the variable as a parameter

rows = cursor.fetchall()

if rows:
    for row in rows:
        print(row)
else:
    print ('No results found. Try again!')

(68690, 'Yer Modest', 852404, 3046, 'Northwestern Dr', '419238039')
(15171, 'Weldon Penso', 336999, 311, 'Northwestern Dr', '131379495')
(34352, 'Vincenza Burkhardt', 436470, 2512, 'Northwestern Dr', '197913046')
(73368, 'Torie Thalmann', 773862, 3697, 'Northwestern Dr', '341559436')
(88423, 'Teri Ehrich', 510876, 1879, 'Northwestern Dr', '248637345')
(53890, 'Sophie Tiberio', 957671, 4580, 'Northwestern Dr', '442830147')
(54564, 'Sammie Sengun', 217286, 2590, 'Northwestern Dr', '848854310')
(40760, 'Renata Faver', 976650, 745, 'Northwestern Dr', '547572040')
(28360, 'Rashad Cascone', 924517, 3212, 'Northwestern Dr', '838907424')
(25615, 'Olevia Morena', 388477, 812, 'Northwestern Dr', '962831331')
(10010, 'Muoi Cary', 385336, 741, 'Northwestern Dr', '828638512')
(14887, 'Morty Schapiro', 118009, 4919, 'Northwestern Dr', '111564949')
(87456, 'Leonora Wolfsberger', 215868, 3483, 'Northwestern Dr', '565203106')
(71924, 'Laurie Scronce', 774116, 1418, 'Northwestern Dr', '254883636')
(17729, 'Lasonya Wildey', 439686, 4002, 'Northwestern Dr', '917817122')
(23960, 'Kristopher Lagerberg', 658777, 1392, 'Northwestern Dr', '492912529')
(89906, 'Kinsey Erickson', 510019, 309, 'Northwestern Dr', '635287661')
(18376, 'Josh Shi', 653712, 1091, 'Northwestern Dr', '193899001')
(98593, 'Jonah Toner', 578982, 2947, 'Northwestern Dr', '745853548')
(47435, 'Jeremiah Morak', 293173, 3799, 'Northwestern Dr', '457387489')
(99826, 'Ivy Kazarian', 994470, 892, 'Northwestern Dr', '208359813')
(44542, 'Ivory Mcgrevey', 873842, 897, 'Northwestern Dr', '988557407')
(33415, 'Homer Simpson', 108392, 4899, 'Northwestern Dr', '871392019')
(40336, 'Fredia Billeter', 251082, 404, 'Northwestern Dr', '108056488')
(22239, 'Dusty Sigafus', 710517, 1125, 'Northwestern Dr', '724386723')
(80921, 'Donovan Yackley', 222395, 2386, 'Northwestern Dr', '515049359')
(85280, 'Donn Duin', 569122, 540, 'Northwestern Dr', '613873810')
(90397, 'Dionna Kranwinkle', 797260, 2678, 'Northwestern Dr', '278964807')
(72076, 'Courtney Bordeaux', 324614, 1707, 'Northwestern Dr', '347966356')
(96595, 'Coretta Cubie', 303645, 3631, 'Northwestern Dr', '378403829')
(53699, 'Christian Pagano', 628433, 2585, 'Northwestern Dr', '644772304')
(81052, 'Calvin Czelusniak', 471483, 1516, 'Northwestern Dr', '657531837')
(26758, 'Angelena Billman', 942074, 629, 'Northwestern Dr', '341854756')
(34155, 'Allyson Lazenson', 814209, 2840, 'Northwestern Dr', '991150469')
(44004, 'Alison Eska', 327797, 2951, 'Northwestern Dr', '306417867')
(39688, 'Abe Roeker', 537445, 689, 'Northwestern Dr', '438969447')

Get User's Inputs for the name of Witness 1

In [7]:
user_W1name = input("Who is Witness 1? Write the name here:")
user_W1name = user_W1name.strip()

To show the final Answer for Witness 1:

In [8]:
if user_W1name.lower() in ['morty schapiro', 'morty', 'schapiro']:

    cursor.execute('''
        SELECT * 
        FROM person
        WHERE LOWER(address_street_name) = 'northwestern dr' 
        ORDER BY address_number DESC
        LIMIT 1
    ''')

    rows = cursor.fetchall()

    if rows:
            for row in rows:
                print(row)
                
else:
    print("Oh no! That seems to be incorrect. Please try again! Make sure there are no spelling mistakes, and you are looking for the right clue!")

(14887, 'Morty Schapiro', 118009, 4919, 'Northwestern Dr', '111564949')

*|Insert Image| - Make Players guess the name of Witness 2*

Take User's Input for 3 letters of the name

In [9]:
user_W2name = input("What letters do you see? Type it here, so we can find the identity of Witness 2!")
user_W2name = user_W2name.strip()

In [10]:
if user_W2name.lower() in ['ann', 'nna']:

    cursor.execute('''
        SELECT * 
        FROM person
        WHERE address_street_name = 'Franklin Ave'
        AND LOWER(name) LIKE ?
    ''', ('%' + user_W2name.lower() + '%',))

    rows = cursor.fetchall()

    if rows:
            for row in rows:
                print(row)

elif user_W2name.lower() == 'nan':
    print ('No results found. Try again! Maybe you can try switching the order?')
    
else:
    print("Oh no! That seems to be incorrect. Please try again! Make sure there are no spaces between each letter, and you are looking for the right clue!")

(16371, 'Annabel Miller', 490173, 103, 'Franklin Ave', '318771143')

Take User's Input for witness' ID numbers - based on the table we showed them above

In [11]:
user_W1id = input("What is the ID number of Witness 1?")
user_W1id = user_W1id.strip()

user_W2id = input("What is the ID number of Witness 2?")
user_W2id = user_W2id.strip()

In [12]:
cursor.execute('''
    SELECT *
    FROM interview
    WHERE person_id IN (?, ?)
''', (user_W1id, user_W2id))

rows = cursor.fetchall()

if rows:
        for row in rows:
            print(row)
else:
    print('Oh no, that does not seem correct. Please try again! Are you sure you got the codes right?')

(14887, 'I heard a gunshot and then saw a middle-aged man run out.')
(16371, 'I saw the murder happen!! And I recognized the killer from my gym.')
(14887, 'He had a "Get Fit Now Gym" bag.  The membership number on the bag started with "48Z".  ')
(16371, 'I saw him at the gym when I was working out last week on January the 9th.  He was using the VIP section of the gym, so he defenitely got to be a gold or platinum member.')
(14887, 'Observed a person with a hat,  maybe.  Wearing a distinctive pendant.  Movements were deliberate.  Hard to recall facial features.')
(16371, 'He is relatively tall, has brown hair.  Glasses perched low.  Carrying a gym bag along with him everywhere he goes.')
(16371, "Unfortunately,  I am not a gold member and I don't have that gym bag,  but I really do want one.  The gym bag is so beautiful and highly functional. ")
(14887, " He got into a car.  I didn't see the number plate but I took a picture of it. ")

Here is a list of suspects and the information collected from them. Based on the witness reports, are you able to guess the murderer?

Table to be shown to players to make them guess the murderer:

In [13]:
#to make it easier for the players to guess
cursor.execute('''
        SELECT p.name, dl.*, gym.membership_start_date, gym.membership_status
        FROM drivers_license dl
        INNER JOIN person p ON dl.id = p.license_id 
        INNER JOIN get_fit_now_member as gym
        ON p.id = gym.person_id 
		ORDER BY dl.id DESC
		LIMIT 20 
    ''')

rows = cursor.fetchall()

if rows:
    for row in rows:
        print(row)

('Carolin Orellano', 990930, 19, 55, 'blue', 'brown', 'female', '78B71X', 'Tesla', 'Leganza', 'black', 20180325, 'silver')
('Marcelino Leard', 987369, 25, 58, 'amber', 'brown', 'male', '82P3RF', 'GMC', 'Yukon XL', 'gold', 20180428, 'silver')
('Honey Erbentraut', 982387, 43, 60, 'green', 'red', 'female', '03L2UL', 'Ford', 'Contour', 'red', 20171123, 'regular')
('Luanne Bhan', 982103, 18, 74, 'green', 'green', 'female', '8TF75Q', 'Panoz', 'Esperante', 'blue', 20170919, 'gold')
('Alvin Fornes', 976619, 67, 51, 'black', 'brown', 'male', '6JWYKL', 'Suzuki', 'Daewoo Lacetti', 'black', 20170815, 'silver')
('Elizebeth Torgersen', 969187, 60, 75, 'blue', 'black', 'female', '4VXVHC', 'Ford', 'Expedition', 'blue', 20180323, 'gold')
('Cher Rivenbark', 965895, 65, 54, 'brown', 'white', 'female', 'MDV1R3', 'Mazda', 'Protege', 'blue', 20180123, 'silver')
('Audria Vosburgh', 952690, 80, 80, 'green', 'white', 'female', '4F31NZ', 'Tesla', 'Frontier', 'black', 20180309, 'gold')
('Adriane Pelligra', 952073, 51, 59, 'amber', 'grey', 'male', 'KPF728', 'Tesla', 'Aviator', 'red', 20170816, 'silver')
('Jarred Newenle', 948281, 29, 60, 'amber', 'blonde', 'male', '553MZN', 'Lincoln', 'LS', 'black', 20170424, 'regular')
('Jan Louthan', 948168, 37, 82, 'brown', 'brown', 'female', 'DP1ZKR', 'Buick', 'Regal', 'black', 20170606, 'silver')
('Taylor Skyes', 946454, 54, 67, 'blue', 'green', 'male', 'A33U3B', 'Tesla', 'XC70', 'blue', 20180314, 'gold')
('Jacqui Bonda', 938816, 43, 82, 'blue', 'red', 'female', 'MFY7C2', 'Hyundai', 'Tiburon', 'black', 20171010, 'gold')
('Madge Bernice', 933374, 59, 53, 'blue', 'white', 'female', '3FV0QH', 'Mitsubishi', '3000GT', 'red', 20170503, 'gold')
('Isaiah Bhagat', 928297, 76, 67, 'black', 'black', 'male', '51F1I1', 'Ford', 'E250', 'black', 20170625, 'regular')
('Tu Lipkovitch', 927006, 65, 72, 'green', 'brown', 'female', '7X42J0', 'Tesla', 'IS', 'red', 20170608, 'gold')
('Adrienne Fleishman', 926354, 73, 62, 'amber', 'brown', 'female', 'A07LUD', 'GMC', 'Envoy', 'black', 20170718, 'regular')
('Ignacio Freistuhler', 924219, 31, 55, 'black', 'blue', 'male', 'XQT8HZ', 'Mazda', 'RX-8', 'red', 20170306, 'regular')
('Jeremy Bowers', 923327, 30, 70, 'brown', 'brown', 'male', '0H42W2', 'Tesla', 'Spark LS', 'red', 20160101, 'gold')
('George Cali', 921622, 67, 56, 'blue', 'blonde', 'male', 'FO7CCB', 'Honda', 'CR-V', 'blue', 20171218, 'regular')

In [14]:
user_murderer = input("Who are you accusing of murder?")
user_murderer = user_murderer.strip()

Final Answer for Murderer:

In [16]:
cursor.execute('''
        SELECT p.name
        FROM drivers_license dl
        INNER JOIN person p 
        ON dl.id = p.license_id 
        INNER JOIN get_fit_now_member as gym
        ON p.id = gym.person_id
        INNER JOIN get_fit_now_check_in as checkin
        ON gym.id = checkin.membership_id
        WHERE plate_number LIKE '%H42W%' 
        AND membership_status = 'gold'
        AND check_in_date = '20180109' 
    ''')

rows = cursor.fetchall()

if rows:
    for row in rows:
        print(row)

('Jeremy Bowers',)

In [17]:
if user_murderer.lower() in ['jeremy', 'jeremy bowers', 'bowers', 'jeremybowers']:
    print(f'Wow, that is amazing. You did it! {user_murderer.capitalize()} is the murderer.')
    
else:
    print(f'Oh no! Your guess does not seem to be right. {user_murderer.capitalize()} is not the murderer. Please try again!')

Wow, that is amazing. You did it! Jeremy is the murderer.

Give players an option to end game here, or continue with Mastermind problem

If they continue, then show them the interview of the murderer - to start the next challenge

In [19]:
cursor.execute('''
        SELECT i.transcript
        FROM interview as i
        INNER JOIN person as p 
        ON p.id = i.person_id 
        WHERE p.name = 'Jeremy Bowers'  
    ''')

rows = cursor.fetchall()

if rows:
    for row in rows:
        print(row)

('I was hired by a woman with a lot of money. I don\'t know her name but I know she\'s around 5\'5" (65") or 5\'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.\n',)

Give them a sudoku/math problem to guess ID number of mastermind

Show Secret Code - to make them guess ID number of Mastermind and take User's Input

In [ ]:
user_Mid = input("Did you manage to solve the secret code to retrieve the ID number of the mastermind? Write the 4-digit number here:")
user_Mid = user_Mid.strip()

In [21]:
cursor.execute('''
        SELECT *
        FROM drivers_license
        WHERE LOWER(gender) = 'female'
        AND LOWER(hair_color) = 'red'
        AND LOWER(car_make) = 'tesla'
        AND LOWER(car_model) = 'model s'
        AND height BETWEEN 65 AND 67
    ''')

rows = cursor.fetchall()

if rows:
    for row in rows:
        print(row)

(202298, 68, 66, 'green', 'red', 'female', '500123', 'Tesla', 'Model S', 'black')
(291182, 65, 66, 'blue', 'red', 'female', '08CM64', 'Tesla', 'Model S', 'red')
(918773, 48, 65, 'black', 'red', 'female', '917UU3', 'Tesla', 'Model S', 'black')

In [18]:
cursor.execute('''
        SELECT *
        FROM mastermind as m
        INNER JOIN person as p
        ON m.id = p.license_id
        INNER JOIN income as i
        ON p.ssn = i.ssn
        INNER JOIN facebook_event_checkin as fb
        ON p.id = fb.person_id
        WHERE LOWER(fb.event_name) = 'sql symphony concert'
        AND fb.date BETWEEN 20171201 AND 20171231
        GROUP BY fb.event_name
        HAVING COUNT(date) >= 3
        ORDER BY i.annual_income DESC
    ''')

rows = cursor.fetchall()

if rows:
    for row in rows:
        print(row)

OperationalError: no such table: mastermind